/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #fff;
}

ol, ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
    display: inline-block;
}

button {
    margin: 6px;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-card {
    background-color: #3492eb;
}

.start-btn {
    text-align: center;
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
    margin: 50px auto;
    background-color: #fff;
    text-decoration: none;
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #33cc33;
}

.word-slots {
    text-align: center;
}

.keyboard-row {
    text-align: center;
}

.lives {
    text-align: center;
    list-style-type: none;
}

/* overlay */
#cover,
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}